* {
    box-sizing: border-box;
}

:root {
    --bavarian-blue: rgba(0,154,220,255);
}

:root {
    --dark-blue: rgba(11,38,113,255);
}

:root {
    --salmon-red: rgba(233,119,137,255);
}

html {
    background: content-box no-repeat var(--bavarian-blue);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    height: 600px;
}

section {
    display: flex;
    flex-wrap: wrap;
}
    
h1 {
    font-size: 48px;
    flex-wrap: wrap;
    color: var(--salmon-red);
    text-shadow: 2px 2px antiquewhite, 4px 5px 4px var(--dark-blue);
}
 
h2 {
    font-size: 36px;
    text-indent: 30%;
    flex: wrap;
    color: var(--dark-blue);
    text-shadow: 1px 1px antiquewhite, 3px 4px 3px var(--dark-blue);
}

a {
    text-decoration: none;
    color: antiquewhite;
}

a:visited {
    color: antiquewhite;
}

.p1-list {
    display: table;
    margin: 0 auto;
    margin-top: 120px;
}
.p2-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 300px;
}

.h1-indent {
    text-indent: 25%;
    transform: matrix(1, -.06, 0, 1, 0, 0);
}

.h2-indent {
    width: 100%;
    text-indent: 30%;
}

.me-image {
    height: 557px;
    width: 411px;
    margin-left: 30%;
}

.h1-p2 {
    position: fixed;    
    padding: 4px 8px 8px 8px;
    margin-left: 20%;
    transform: matrix(1, -.06, 0, 1, 0, 0);
}
.h2-p2 {
    margin-top: 5%;
    width: 100%;
    position: fixed;
    justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

.refactoring {
    flex: 0 0 300px;
    text-shadow: 2px 2px 3px var(--dark-blue);
    background-image: url(./Landing\ Page\ 1.jpg);
    width: 955px;
    height: 486px;
    font-size: 30px;
    box-shadow: 4px 4px var(--dark-blue);
    padding: 486px 955px;
    margin-bottom: 30px;
}

.second-project {
    flex: 0 0 300px;
    text-shadow: 2px 2px 3px var(--dark-blue);
    background-image: url(./Landing\ Page\ 1.jpg);
    width: 955px;
    height: 486px;
    font-size: 30px;
    box-shadow: 4px 4px var(--dark-blue);
}

.refactoring:hover {
    box-shadow: 4px 4px var(--dark-blue), 6px 6px antiquewhite;
}

ul#links-list {
    list-style: none;
    padding-top: 10px;
}

ul#links-list li{
    display: inline;
    position: relative;
    border: 1px solid antiquewhite;
    border-radius: 20px;
    background-color: var(--dark-blue);
    padding: 6px 6px 6px 6px;
    margin-right: 30px;
}

ul#links-list li:hover{
    box-shadow: 2px 2px 4px var(--dark-blue);
}

ul#about-list {
    list-style: none;
    padding-top: 10px;
}

ul#about-list li{
    position: relative;
    display: inline;
    border: 1px solid antiquewhite;
    color: var(--dark-blue);
    background-color: var(--salmon-red);
    padding: 6px 6px 6px 6px;
    margin-right: 30px;
}

ul#about-list li:hover{
    box-shadow: 2px 2px 4px var(--dark-blue);
    cursor:default;
}

@media screen and (max-width: 768px) {
    body {
      flex-direction: column;
    }
  }